DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

POSFIX_API_BASE_URL=https://api.posfix.md
POSFIX_API_KEY=

MAIB_API_BASE_URL=
MAIB_CLIENT_ID=
MAIB_CLIENT_SECRET=
MAIB_SIGNATURE_KEY=

PAYNET_API_BASE_URL=
PAYNET_AUTH_URL=
PAYNET_GRANT_TYPE=
PAYNET_USERNAME=
PAYNET_PASSWORD=
PAYNET_SUCCESS_URL=
PAYNET_CANCEL_URL=
PAYNET_CALLBACK_URL=
